@supports(grid-area:auto){

  .site{
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 50px auto auto auto;
    grid-template-areas:
      'hd hd hd hd hd hd hd hd hd hd hd hd'
      'nv nv nv nv nv nv nv nv nv nv nv nv'
      'left title title title title title title title . . . right'
      'left main main main main main main main ad ad ad right'
      'left ft ft ft ft ft ft ft . . . right';

}

.flex{
  display: flex;
  align-items: center;
}

.header {
  font-size: 11px;
  font-family: Arial,sans-serif;
  grid-area: hd;
  background-color: #000000;
  padding: 10px 0px 0px 0px;
  display: flex;
}

/*Setting Flex Basis for Header*/

.header-left{
padding-left: 75px;
}

.header-center{
  padding-left: 240px;
}

.header-right{
  padding-left: 370px;
}

.navbar,{
  grid-area: nv;
  background-color:#E6E6E6;
  outline: 1px solid #999999;
  display: flex;
  font-size: 10px;
  font-family: Arial,sans-serif;
  color: #666;
  text-transform: uppercase;
  padding: 19px
}

/*Setting Flex Basis for Navbar*/
.leftspacer{
flex-basis:4%;
}

.navbar-left{
  flex-basis:26%;
  justify-content: flex-start;
}
.navbar-center{
  flex-basis:40%;
  align-items: center;
  justify-content: space-around;
}
.rightspacer{
  flex-basis: 20%;
}

.navbar-right{
  flex-basis:10%;
  justify-content:flex-start;
}

.leftsidebar{
  grid-area: left;
}

.rightsidebar{
  grid-area:right;
}

.sideads{
  grid-area: ad;
  font-family: Arial;
  font-size: 10px;
  color: #999;
}

.title{
  grid-area:title;
  margin-top: 30px;
  margin-bottom: -15px;
}

.main{
  grid-area:main;
  margin-bottom: 18px;
  font-family: Georgia,'Droid Serif',serif;
  font-size: 15px/24px;
  color: #333;
}
.line{
  grid-area:line;

}
.footer{
  grid-area:ft;
  border-top: 1px solid #CCC;
}

.footer-margin{
  margin-left: 10%;
}

h1{
    font-family: Georgia,'Droid Serif',serif;
    font-weight: lighter;
    font-size: 54px;
}

.fab{
  height: 20px;
  margin-right: 25px;
}

.social{
  margin-bottom: -20px;
}

.fa-facebook-f{
  color:#23408F;
}

.fa-twitter{
  color:#4FABDA;
}

.links{
  color: #4591B8;
  font-family: Arial, sans-serif;
}

#byline{
  font-family: Georgia,'Droid Serif',serif;;
}

.byline-cap{
  color: #666;
  font-size: 14px;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #FF5443;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
}

.author, a{
  color:  #FF5443;
  font-family: Georgia,'Droid Serif',serif;;
  text-decoration: none;
  font-size: 14px;
}

#firstletter {
    float: left;
    width: 0.7em;
    font-size: 300%;
    font-family: Georgia,'Droid Serif',serif;
    line-height: 50%;
    padding-top:5px;
    font-weight:700;
    padding-right: 10px;
}

#adcaption{
  margin-top: 8px;
}

.caption{
  font-family: Arial;
  font-size: 10px;
  color: #666;
}

#bottomline{
font-family: Arial;
}

#container {
  width:100%;
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin-left: -10;
}

#bargraph{
  min-width: 310px;
  height: 400px;
  margin-left: -10;
}

#table_id{
  width:100%;
}

svg.highcharts-root{
  font-family: Georgia,'Droid Serif',serif !important;
}

#tableheader{
font-family: Georgia,'Droid Serif',serif !important;
color: #333333;
font-size: 18px;
fill: #333333;
text-align: center;
}

#tablesubheader-source{
  font-family: Georgia,'Droid Serif',serif !important;
  color: #666666;
  fill: #666666;
  font-size:12px;
  text-align:center;
}

/*.footer-text{
  margin-bottom: 18px;
  font: 15px Georgia,'Droid Serif',serif;
}

.footer-box{
  background-color: #E0E0E0;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 20px 0 29px 0;
    padding: 20px 20px 18px;
}

#footer-email{
    color: #333;
}

#footer-box-toptext{
color: #000;
}*/

.button {
    border: 1px solid #FF5443;
    color: #FF5443;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4.5% 35% 0 35%;
    cursor: pointer;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover{
  background-color: #FF5443;
  color:white;
}

.mobile-section{
  display: none;
}

.mobile-header{
  font-size: 11px;
  font-family: Arial,sans-serif;
  grid-area: hd;
  padding: 5 0 5 10;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.mobile-navbar,{
  grid-area: nv;
  background-color: #E6E6E6;
  outline: 1px solid #999999;
  display: flex;
  font-size:8px;
  font-family: Arial,sans-serif;
  color: #666;
  text-transform: uppercase;
}


/*Footer Section Styling*/


@media screen and (max-width:767px){
  .mobile-section, .mobile-navbar{
    display:inline !important;
  }

  .rightsidebar, .leftsidebar, .sideads, .header, .navbar {
    display:none;

  }
      div.dataTables_wrapper {
          margin-left: -5;
      }
      table.dataTable thead th, table.dataTable thead td {
        padding: 5px 10px !important;
    }

.footer, .title, .fab, .byline, .byline-cap, .author, .caption, .story, #bottomline{
  margin: 10;
}
h1{
  margin: 15 0 0 0 !important;
  font-size: 30px !important;
}
  #table_id{
    font-size: 0.8em;
  }

  th{
    padding-right: -15px;
  }

  .site{
    margin: 10px auto;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 60px auto auto auto;
    grid-template-areas:
      'hd'
      'nv'
      'title'
      'main'
      'ft';
  }
}

}
